.price {
    box-shadow: 10px 10px 8px;
    padding-left: 50%;
    height: 100px;
    width: 100px;
    font-size: 40px;
    margin-top:30px;
}

.container {
    padding-left:200px; 
    position: relative;
    background: linear-gradient(45deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);
}

.title {
    text-shadow: 2px 2px tomato;
}